li {
    padding: 5px;
}

.title {
    text-align: center;
}

.burgerCol {
    box-sizing: border-box;
    width: 50%;
    float: left;
    overflow: hidden;

    padding: 25px;
}

button {
    background-color: #333333;
    color: #cccccc;
    border: none;
    border-radius: 3px;

    margin-left: 5px;
    padding: 4px;
}
