h2 {
    margin-top: 0;
}

ul {
    text-align: left;
}

li {
    padding: 5px;
}

.title {
    text-align: center;
}

.burgerTableWrapper {
    display: table;
    text-align: center;
    margin: 0 auto;
}

.burgerCol {
    box-sizing: border-box;
    width: 50%;
    float: left;
    overflow: hidden;
}

.formWrapper {
    text-align: center;
    display:block;
}

button {
    background-color: #333333;
    color: #cccccc;
    border: none;
    border-radius: 3px;

    margin-left: 5px;
    padding: 4px;
}
