h2 {
    margin-top: 0;
}

ul {
    text-align: left;
    margin: 0;
}

li {
    padding: 5px;
}

.title {
    text-align: center;
}

.burgerTableWrapper {
    display: table;
    text-align: center;
    margin: 0 auto 15px;

    border: 2px solid black;
    padding: 10px;
}

.burgerCol {
    box-sizing: border-box;
    width: 50%;
    float: left;
    overflow: hidden;
}

.formWrapper {
    text-align: center;
    display:table;
    margin: 0 auto;

    border: 2px solid black;
    padding: 10px 15px;
}

.form-group {
    margin-bottom: 10px;
}

button {
    background-color: #333333;
    color: #cccccc;
    border: none;  
}

.devourBtn {
    border-radius: 5px;
    margin-left: 5px;
    padding: 4px;
}

.addBtn {
    border-radius: 10px;
    padding: 10px;
}
